.countdownCard {
    background-color: var(--mantine-color-gray-1);
    border-radius: var(--mantine-radius-md);

    @include dark {
        background-color: var(--mantine-color-dark-8);
    }
}

.container {
    width: 30vw;

    @include smaller-than($mantine-breakpoint-lg) {
        width: 40vw;
    }

    @include smaller-than($mantine-breakpoint-md) {
        width: 45vw;
    }

    @include smaller-than($mantine-breakpoint-sm) {
        width: 65vw;
    }

    @include smaller-than($mantine-breakpoint-xs) {
        width: 75vw;
        border-radius: 0;
    }
}
