/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.pnpm-store
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
docker-compose.override.yaml
docker-compose.override.yml
/storage/aurora
/storage/clockwork/
docker-compose.override.aurora.bak
.env.aurora.bak
docker-compose.override.aurora.bak
.env.aurora.bak
docker-compose.override.aurora.bak
.env.aurora.bak
docker-compose.override.aurora.bak
.env.aurora.bak
docker-compose.override.aurora.bak
.env.aurora.bak
firebase_credentials.json
